# Created by venv; see https://docs.python.org/3/library/venv.html
# Logs
*.log

# Dependencies
node_modules/

# Python cache
__pycache__/
*.pyc

# Virtual env
venv/

# Env files
.env

# OS / IDE
.DS_Store
.vscode/
.idea
